### Write a lambda function that takes two arguments and returns their sum

In [10]:
# creating a lambda function that accepts two arguments
func = lambda x,y : x+y

In [11]:
# calling the function
func(2,4)

6

### Create a list of integers and use a lambda function with the filter function to filter out even numbers.

In [21]:
# creating list of integers
list_integers = [i for i in range(1, 100)]

In [22]:
print(list_integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [24]:
# filter function will return a filter object
filter_obj = filter(lambda x: True if x%2 == 0 else False , list_integers)

# creating a list from filter object
print(list(filter_obj))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

### Use the map function to square each element in a list of integers.

In [26]:
# creating a list of integers
list_integers  = [i for i in range(10)]

In [27]:
print(list_integers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
# map function will return a map object
map_obj = map(lambda x : x**2, list_integers)

In [34]:
# creating a list from map object
print(list(map_obj))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Create a list of strings and use the map function to convert each string to uppercase.

In [36]:
# creating a list of strings
word_list = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape", "honeydew", "kiwi"]

In [37]:
print(word_list)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape', 'honeydew', 'kiwi']

In [41]:
# map function will return map object
map_object = map(lambda x: x.upper(), word_list)

In [42]:
# creating a list from map object
print(list(map_object))

['APPLE', 'BANANA', 'CHERRY', 'DATE', 'ELDERBERRY', 'FIG', 'GRAPE', 'HONEYDEW', 'KIWI']

### Create a list of dictionaries containing information about books (title, author, pages). Use the filter function to filter out books with more than 200 pages.

In [44]:
# creating a list of dictionary containing book information
books = [
    {
        "title": "The Great Gatsby",
        "author": "F. Scott Fitzgerald",
        "pages": 180
    },
    {
        "title": "To Kill a Mockingbird",
        "author": "Harper Lee",
        "pages": 281
    },
    {
        "title": "1984",
        "author": "George Orwell",
        "pages": 328
    },
    {
        "title": "Pride and Prejudice",
        "author": "Jane Austen",
        "pages": 432
    },
    {
        "title": "The Catcher in the Rye",
        "author": "J.D. Salinger",
        "pages": 224
    }
]

In [53]:
# filter function will return filter object
filter_object = filter(lambda x: True if x['pages'] > 200 else False, books)

In [54]:
# creating a list from filter object
print(list(filter_object))

[{'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'pages': 281}, {'title': '1984', 'author': 'George Orwell', 'pages': 328}, {'title': 'Pride and Prejudice', 'author': 'Jane Austen', 'pages': 432}, {'title': 'The Catcher in the Rye', 'author': 'J.D. Salinger', 'pages': 224}]

### Write a program that takes a list of numbers as input and uses the filter function to filter out numbers that are divisible by 3.

In [56]:
# creating a list of numbers
list_numbers = [i for i in range(100, 1000, 2)]

In [57]:
print(list_numbers)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

In [59]:
# filter function will return filter object
filter_object = filter(lambda x: True if x%3 == 0 else False, list_numbers)

In [60]:
# creating a list from filter object
print(list(filter_object))

[102, 108, 114, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 204, 210, 216, 222, 228, 234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294, 300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696, 702, 708, 714, 720, 726, 732, 738, 744, 750, 756, 762, 768, 774, 780, 786, 792, 798, 804, 810, 816, 822, 828, 834, 840, 846, 852, 858, 864, 870, 876, 882, 888, 894, 900, 906, 912, 918, 924, 930, 936, 942, 948, 954, 960, 966, 972, 978, 984, 990, 996]

### Write a program that takes a mathematical expression as input from the user and uses eval to calculate the result.

In [68]:
# taking mathematical expression as user input
try:
    user_input = eval(input('enter the input: '))
    print(user_input)
    
except Exception as e:
    print(e.with_traceback)

enter the input: 15/8
1.875