In [37]:
# importing necessary libraries
import pandas as pd
import numpy as np

Question: Write a solution to find the names of all the salespersons who did not have any orders related to the company with the name "RED".
Return the result table in any order.

In [47]:
def sales_person(sales_person: pd.DataFrame, company: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    
    # merging three dataframes - sales_person, company and orders to find sales_person responsible for particular company sales order
    merged_df = company.merge(orders, how='inner', on='com_id').merge(sales_person, how='right', on='sales_id', suffixes=['_company', '_salesperson'])
    
    # extract sales_person belong to company RED
    red_salesmen = merged_df[merged_df['name_company'] == 'RED']['name_salesperson'].unique()
    
    # Identify sales_person who do not work for company RED
    non_red_salesperson = sales_person[~np.isin(sales_person['name'], red_salesmen)]['name']
    
    return pd.DataFrame({'name': non_red_salesperson})

# preparing the dataframe
data = [[1, 'John', 100000, 6, '4/1/2006'], 
        [2, 'Amy', 12000, 5, '5/1/2010'], 
        [3, 'Mark', 65000, 12, '12/25/2008'], 
        [4, 'Pam', 25000, 25, '1/1/2005'], 
        [5, 'Alex', 5000, 10, '2/3/2007']]

SalesPerson = pd.DataFrame(data, columns=['sales_id', 'name', 'salary', 'commission_rate', 'hire_date']).astype({'sales_id':'Int64', 'name':'object', 'salary':'Int64', 'commission_rate':'Int64', 'hire_date':'datetime64[ns]'})

data = [[1, 'RED', 'Boston'], 
        [2, 'ORANGE', 'New York'], 
        [3, 'YELLOW', 'Boston'], 
        [4, 'GREEN', 'Austin']]

Company = pd.DataFrame(data, columns=['com_id', 'name', 'city']).astype({'com_id':'Int64', 'name':'object', 'city':'object'})

data = [[1, '1/1/2014', 3, 4, 10000], 
        [2, '2/1/2014', 4, 5, 5000], 
        [3, '3/1/2014', 1, 1, 50000], 
        [4, '4/1/2014', 1, 4, 25000]]

Orders = pd.DataFrame(data, columns=['order_id', 'order_date', 'com_id', 'sales_id', 'amount']).astype({'order_id':'Int64', 'order_date':'datetime64[ns]', 'com_id':'Int64', 'sales_id':'Int64', 'amount':'Int64'})

In [51]:
# calling the function and printing the result
result = sales_person(SalesPerson, Company, Orders)
print(result)

   name
1   Amy
2  Mark
4  Alex