## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [4]:
# A list containing average daily temperature over a week
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [15]:
# Store the highest temperature
max_temp = max(temperatures)
print("Maximum temperature:", max_temp)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)
print(f"Maximum temperture is present at Index {max_temp_index}")

Maximum temperature: 42
Maximum temperture is present at Index 4

In [14]:
# Store the lowest temperature
min_temp = min(temperatures)
print("Minimum temperature:", min_temp)

# Index of the element with the lowest temperature
min_temp_index = temperatures.index(min_temp)
print(f"Minimum temperture is present at Index {min_temp_index}")

Minimum temperature: 29
Minimum temperture is present at Index 2

In [16]:
# Swap the highest and the lowest temperatures

temperatures[min_temp_index] = max_temp
temperatures[max_temp_index] = min_temp

In [18]:
# Print the output list
print("output list:", temperatures)

output list: [34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [24]:
# List of product prices
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

print(prod_price_list)

[400, 250, 800, 550, 600, 820, 720, 15000, 360, 250]

In [26]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = sum(prod_price_list)/len(prod_price_list)

print(f"Mean price of products is {mean_price}")

Mean price of products is 1975.0

### Calculate the median price

In [31]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = prod_price_list.sort()

print("Sorted list:", prod_price_list)

Sorted list: [250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [42]:
# Check if the number of elements in the list is even or odd
num_elements = len(prod_price_list)

print("Number of elements in the list:", num_elements)

prod_price_list[int(num_elements/2)]
prod_price_list[int((num_elements/2)+1)]

Number of elements in the list: 10
720

In [45]:
# Use the corresponding formula to calculate the median and print the median

# number of elements is even 
median_price = (prod_price_list[int(num_elements/2)] + prod_price_list[int((num_elements/2)+1)])/2

print(f"Median Price of the products is {median_price}")

Median Price of the products is 660.0

In [47]:
# Check which is greater, mean or median

- Mean is greater than median

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>

Your explanation : Mean is greater than median indicates skewness in prices or distribution. Skewness is due to the presence of outliers.

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [59]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [60]:
# Write your code below

tech_companies.extend(tech_companies.pop())

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [61]:
# Do the same task another way
print(tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']